@model StoreEventModel;
@using Models;

<div>
    <h1 id="StoreTitle"> @Model.Store.Name </h1>
    @if (Model.Events.Count() > 1)
    {
        <p>There are currently @Model.Events.Count events</p>
    }
    else if (Model.Events.Count() == 1)
    {
        <p>There is currently 1 event</p>
    }
    else
    {
        <p>There are no events</p>
    }
    <button id="AddEvent" StoreId="@Model.Store.Id"> Add New Event </button>
    <div id="NewEventForm" hidden>

        

        <form>
            Event Name: <br>
            <input id="EventNameInput" type="text" />
            <br> Event Game: <br>
            <select id="EventGameInput">
                <option>Select Game</option>
            </select>
            <br>Event Date:
            <br>Is the Event Today? 
            <input id="EventToday"type="checkbox" checked>
            <div id="StartTime" class="container">
                    <div class="row">
                        <div class='col-sm-6'>
                            <input type='text' id="StartTimeValue" class="form-control" />
                        </div>
                        <script type="text/javascript">
                            $(function () {
                                $('#StartTimeValue').datetimepicker({ format: 'LT'});
                            });
                        </script>
                    </div>
            </div>
            <div id="StartDateTime" class="container" hidden>
                Future Event Date:<br>
                <div class="row">
                    <div class='col-sm-6'>
                        <input type='text'id="StartDateTimeValue" class="form-control" />
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#StartDateTimeValue').datetimepicker();
                        });
                    </script>
                </div>
            </div>
        </form>
        <button id="SubmitEvent">Submit New Event</button>
    </div>
</div>
<div>
    @foreach (EventDataModel Event in Model.Events)
    {
    <div id="StoreEvent">   
        <p id="name"> Name: @Event.EventName </p>
        <p id="attending" num="@Event.Participants">People Attending: @Event.Participants</p>
        <button id="IncStoreEvent" EventId="@Event.Id">I'm Going</button>
    </div>
    }
</div>